body {
    font-family: 'Arial', sans-serif;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  button {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #47d766;
    color: #fff;
    border-radius: 5px;
  }
  
  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: #333;
  }
  
  h1 {
    margin-bottom: 10px;
    
  }
  
  .alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
  }
  
